*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(#42c7f4,#288ad1,#4184e8,#4c84d7,#d6a740);
}
.container-fluid{
    
    text-align: center;
 
    
}
#searchbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5rem;
    
}
.searchbt{
    border-radius: 7px;
    background-color: #4184e8;
    color: white;
    width: 8vw;
    border: 0.1px solid black;
    font-size: 20px;
}
.searchf{
    width: 50%;
    
    
}

.sicon{
    align-items: center;
    font-size: 35px;
    cursor: pointer;
 
    border-radius: 5px;
    color: rgb(72, 7, 134);
   
   
}



#deg{
    padding-top: 4rem;
    text-align: center;
    margin-left: 5%;
    font-size: 2rem;
    font-weight: 550;
    color: whitesmoke;
    font-family: cursive;
}
.box{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
}
.container{
    text-align: center;
    align-items: center;
}

.cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #2178b1;;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 1.5rem;
    color: #f6f2f7;
      
}

.p{
    font-family: 900;
    font-size: 25px;
}
.fs{
    font-size: 30px;
}
.img-icon{
    filter: grayscale(120%);
    
    
}
@media only screen and (max-width: 768px){
    .searchbt{
        border-radius: 7px;
        background-color: #4184e8;
        color: white;
        width: 12vw;
        border: 0.1px solid black;
        font-size: 20px;
    }
    .cont{
    width: 40%;
    height: auto;
    box-sizing: border-box;
    margin: 10px;
    padding: 30px;
    text-align: center;
    border-radius: 1.5rem;
    color: #f6f2f7;
    }

}


   

@media only screen and (max-width: 600px){
    .container-fluid{
    
        text-align: center;
     
        
    }
    #searchbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.5rem;
        
    }
    .searchf{
        width: 50%;
        
        
    }
    #contain, .cont{
        display: flex;
        flex-wrap: wrap;
    }
    
    .sicon{
        align-items: center;
        font-size: 35px;
        cursor: pointer;
     
        border-radius: 5px;
        color: rgb(72, 7, 134);
       
       
    }
    .searchbt{
        border-radius: 7px;
        background-color: #4184e8;
        color: white;
        width: 17vw;
        border: 0.1px solid black;
        font-size: 18px;
    }
    
    
    #deg{
        padding-top: 4rem;
        text-align: center;
        margin-left: 5%;
        font-size: 2rem;
        font-weight: 550;
        color: whitesmoke;
        font-family: cursive;
    }
    .box{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 4rem;
    }
    .container{
        text-align: center;
        align-items: center;
    }
    
    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #2178b1;;
        width: 40%;
        height: auto;
        box-sizing: border-box;
        margin: 10px;
        padding: 20px;
        text-align: center;
        border-radius: 1.5rem;
        color: #f6f2f7;
          
    }
    
    .p{
        font-family: 900;
        font-size: 20px;
    }
    .fs{
        font-size: 22px;
    }
    .img-icon{
        filter: grayscale(120%);
        
        
        
    }
    
}
@media only screen and (max-width: 400px){
    .container-fluid{
    
        text-align: center;
     
        
    }
    #searchbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.5rem;
        
    }
    .searchf{
        width: 50%;
        
        
    }
    .searchbt{
        border-radius: 7px;
        background-color: #4184e8;
        color: white;
        width: 17vw;
        border: 0.1px solid rgb(45, 41, 41);
        font-size: 16px;
    }
    
    .sicon{
        align-items: center;
        font-size: 30px;
        cursor: pointer;
        border-radius: 5px;
        color: rgb(72, 7, 134);
       
       
    }
    
    
    #deg{
        padding-top: 3rem;
        text-align: center;
        margin-left: 5%;
        font-size: 2rem;
        font-weight: 550;
        color: whitesmoke;
        font-family: cursive;
    }
    .box{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 3rem;
    }
    .container{
        text-align: center;
        align-items: center;
    }
    
    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #2178b1;;
        width: 40%;
        height: auto;
        box-sizing: border-box;
        margin: 5px;
        padding: 20px;
        text-align: center;
        border-radius: 1.5rem;
        color: #f6f2f7;
          
    }
    
    .p{
        font-family: 700;
        font-size: 14px;
    }
    .fs{
        font-size: 17px;
    }
    .img-icon{
        filter: grayscale(120%);
        height: 40px;
        width: 40px;
        
        
        
    }
    
}
@media only screen and (max-width: 300px){
    .container-fluid{
    
        text-align: center;
     
        
    }
    #searchbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.5rem;
       
        
    }
    .searchf{
        width: 50%;
        font-size: 15px;
        
        
    }
    .searchbt{
        border-radius: 7px;
        background-color: #4184e8;
        color: white;
        width: 16vw;
        border: 0.01px solid rgb(45, 41, 41);
        font-size: 13px;
    }
    
    .sicon{
        align-items: center;
        font-size: 20px;
        cursor: pointer;
     
        border-radius: 5px;
        color: rgb(72, 7, 134);
       
       
    }
    
    
    #deg{
        padding-top: 3rem;
        text-align: center;
        margin-left: 5%;
        font-size: 1.4rem;
        font-weight: 550;
        color: whitesmoke;
        font-family: cursive;
    }
    .box{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 3rem;
    }
    .container{
        text-align: center;
        align-items: center;
    }
    
    .cont{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #2178b1;;
        width: 40%;
        height: auto;
        box-sizing: border-box;
        margin: 5px;
        padding: 20px;
        text-align: center;
        border-radius: 1.5rem;
        color: #f6f2f7;
          
    }
    
    .p{
        font-family: 900;
        font-size: 10px;
    }
    .fs{
        font-size: 12px;
    }
    .img-icon{
        filter: grayscale(120%);
        height: 40px;
        width: 40px;
        
        
        
    }
    
}
